In [1]:
import pandas as pd

In [2]:
path = '/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/OrderAnalysis-master/'

# Order

In [3]:
#order_task_all = pd.read_csv(path + 'order_2012_2018_task_pull2_all.csv', header=0)
#order = pd.read_csv(path + 'order_taskocc_2012_2018.csv', header=0)
order = pd.read_csv(path + 'order_EDDC_2012_2018_cv3_notcancelled.csv', header=0)
order.head()

,name,clientvisitguid,clientguid,createdwhen,ordersetname,enterrole,typecode,userguid,orderstatuscode,year
0,12 hour order check up to,9000834418200270,9000216018000200,2016-01-25 07:00:00,NaN,Nurse,Other,9000081299501190,COMP,2016
1,12 hour order check up to,9000948214000270,9000225902300200,2017-01-12 07:00:00,NaN,Nurse,Other,9000030646401190,COMP,2017
2,"Occult Blood, Stool",9000805374100270,9000071888900200,2015-11-02 14:00:00,NaN,NP,Diagnostic,9000002688401190,RESF,2015
3,Urine Culture,9000832536400270,9000143948600200,2016-01-18 09:00:00,NaN,Resident,Diagnostic,9000041766101190,RESF,2016
4,Liver Function Panel,9000975060500270,9000111865300200,2017-03-02 16:00:00,AM Lab Order Set,Resident,Diagnostic,9000118483601190,RESF,2017

In [3]:
#order['TaskStatusCode'].value_counts()

In [5]:
order['enterrole'].value_counts()

Resident               250831
PA                     139980
Nurse                   48635
Physician               45198
NP                      33357
Medical Resident          751
VerifyChemoTherapy        609
Attending Physician        94
Fellow                     94
Registered Nurse           27
Name: enterrole, dtype: int64

In [6]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519576 entries, 0 to 519575
Data columns (total 10 columns):
name               519576 non-null object
clientvisitguid    519576 non-null int64
clientguid         519576 non-null int64
createdwhen        519576 non-null object
ordersetname       255154 non-null object
enterrole          519576 non-null object
typecode           519576 non-null object
userguid           519576 non-null int64
orderstatuscode    519576 non-null object
year               519576 non-null int64
dtypes: int64(4), object(6)
memory usage: 39.6+ MB

In [7]:
order['clientvisitguid'] = order['clientvisitguid'] - 9000000000000000
order['clientguid'] = order['clientguid'] - 9000000000000000
order['userguid'] = 10000000000000000 - order['userguid']

In [8]:
print(order['clientvisitguid'].min())
print(order['clientvisitguid'].max())

556943700270
1285016600270

In [9]:
order[order['clientvisitguid']== order['userguid']]

Empty DataFrame
Columns: [name, clientvisitguid, clientguid, createdwhen, ordersetname, enterrole, typecode, userguid, orderstatuscode, year]
Index: []

In [10]:
order.to_csv(path + 'order_EDDC_2012_2018_cv3_notcancelled_new.csv', index=False)

# client location

In [10]:
location = pd.read_csv(path + 'clientlocation_2012_2018_pull2.csv', header = 0)
location.head()

,name,code,TypeCode,clientvisitguid,CreatedWhen
0,Adult ED,A |EMERGENCY |AEQKER |,Holding Unit,9000597420000270,2014-04-02 11:10:22.270
1,Ambulatory Surgery TEE,A |OUTPATIENT |STEE |,Unit,9000597009300270,2014-04-03 09:29:33.000
2,Adult ED,A |EMERGENCY |AEQKER |,Holding Unit,9000598124400270,2014-04-03 18:13:58.210
3,G06C-6229-A,A |INPATIENT |G06C ...,Bed,9000598124400270,2014-04-05 01:39:44.550
4,Adult ED,A |EMERGENCY |AEQKER |,Holding Unit,9000599620400270,2014-04-08 17:50:55.717

In [11]:
location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91092 entries, 0 to 91091
Data columns (total 5 columns):
name               91092 non-null object
code               91092 non-null object
TypeCode           91092 non-null object
clientvisitguid    91092 non-null int64
CreatedWhen        91092 non-null object
dtypes: int64(1), object(4)
memory usage: 3.5+ MB

In [12]:
location['clientvisitguid'] = location['clientvisitguid'] - 9000000000000000

In [13]:
print(location['clientvisitguid'].min())
print(location['clientvisitguid'].max())

7985800270
1285337700270

In [14]:
location.to_csv(path + 'clientlocation_2012_2018_pull2_new.csv', index=False)

# client visit

In [15]:
clientvisit = pd.read_csv(path + 'clientvisit_2012_2018_pull2.csv', header = 0)
clientvisit.head()

,DischargeDCDesc,DischargeDtm,AdmitDtm,ClientVisitGUID,ClientGUID,HospitalService,EDSite,SummaryDispoCategory,FinalDispoCategory
0,ROUTINE/HOME,2015-11-13 19:03:00.000,2015-11-01 15:20:00.000,9000805358900270,9000199802700200,MED,LMH ED,Admitted,Admitted
1,DISCHARGE HOME WITH HM HLTH SERV,2014-02-28 17:55:00.000,2014-02-06 21:06:00.000,9000579333200270,9000151733300200,MED,Cornell ED,Admitted,Admitted
2,ROUTINE/HOME,2014-09-12 15:25:00.000,2014-09-10 18:31:00.000,9000654172500270,9000003370300200,MED,LMH ED,Admitted,Admitted
3,PATIENT EXPIRED,2015-01-20 11:50:00.000,2015-01-13 18:27:00.000,9000697843400270,9000181146900200,MED,LMH ED,Admitted,Admitted
4,ROUTINE/HOME,2017-12-04 13:41:00.000,2017-12-01 19:47:00.000,9001092289600270,9000231826600200,MED,LMH ED,Admitted,Admitted

In [16]:
clientvisit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14044 entries, 0 to 14043
Data columns (total 9 columns):
DischargeDCDesc         13640 non-null object
DischargeDtm            13580 non-null object
AdmitDtm                14044 non-null object
ClientVisitGUID         14044 non-null int64
ClientGUID              14044 non-null int64
HospitalService         13454 non-null object
EDSite                  11136 non-null object
SummaryDispoCategory    11136 non-null object
FinalDispoCategory      11136 non-null object
dtypes: int64(2), object(7)
memory usage: 987.6+ KB

In [17]:
clientvisit['ClientVisitGUID'] = clientvisit['ClientVisitGUID'] - 9000000000000000

In [18]:
print(clientvisit['ClientVisitGUID'].min())
print(clientvisit['ClientVisitGUID'].max())

7985800270
1285337700270

In [19]:
clientvisit['ClientGUID'] = clientvisit['ClientGUID'] - 9000000000000000

In [20]:
print(clientvisit['ClientGUID'].min())
print(clientvisit['ClientGUID'].max())

1012800200
364135200200

In [21]:
clientvisit[clientvisit['ClientGUID']==clientvisit['ClientVisitGUID']]

Empty DataFrame
Columns: [DischargeDCDesc, DischargeDtm, AdmitDtm, ClientVisitGUID, ClientGUID, HospitalService, EDSite, SummaryDispoCategory, FinalDispoCategory]
Index: []

In [22]:
clientvisit.to_csv(path + 'clientvisit_2012_2018_pull2_new.csv', index=False)

# demographics

In [23]:
demo = pd.read_csv(path + 'demographic_2012_2018_pull2.csv', header = 0)
demo.head()

,clientguid,clientvisitguid,ethnicity,Ethnicity2,BirthYearNum,LanguageCode,GenderCode,RaceCode,MaritalStatusCode
0,9000001014700200,9000721880800270,N,N,1947,English,Female,White,Single
1,9000001052300200,9000731006600270,N,NaN,1925,English,Female,Other Not Described,Widower
2,9000001053600200,9001199818100270,N,NaN,1961,English,Male,Black/African Am.,Single
3,9000001060100200,9001092703500270,U,NaN,1918,English,Male,Declined,Married
4,9000001086000200,9000974781900270,N,N,1934,English,Female,White,Single

In [24]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13437 entries, 0 to 13436
Data columns (total 9 columns):
clientguid           13437 non-null int64
clientvisitguid      13437 non-null int64
ethnicity            13433 non-null object
Ethnicity2           6612 non-null object
BirthYearNum         13437 non-null int64
LanguageCode         13436 non-null object
GenderCode           13437 non-null object
RaceCode             13437 non-null object
MaritalStatusCode    13436 non-null object
dtypes: int64(3), object(6)
memory usage: 944.9+ KB

In [25]:
demo['clientguid'] = demo['clientguid'] - 9000000000000000

In [26]:
demo['clientvisitguid'] = demo['clientvisitguid'] - 9000000000000000

In [27]:
demo.to_csv(path + 'demographic_2012_2018_pull2_new.csv', index=False)

# diagnosis

In [28]:
diag = pd.read_csv(path + 'diag_2012_2018_pull2.csv')
diag.head()

,ClientGUID,ClientVisitGUID,CreatedWhen,typecode,ShortName,ICD10Code,ICD9Code,userguid
0,9000001012800200,9000745799000270,2015-05-25 22:25:38.277,Admitting Dx,BACK PAIN/FATIGUE,NaN,NaN,9000026324701190
1,9000001012800200,9000745799000270,2015-05-26 04:22:55.117,ED Diagnosis,Back pain,M54.9,724.5,0
2,9000001012800200,9000939526300270,2016-10-27 10:50:51.737,Acute Dx,Shortness of breath,R06.02,786.05,9000027857501190
3,9000001012800200,9000939526300270,2016-10-27 20:27:36.003,Chronic Dx,Nonischemic cardiomyopathy,I42.9,425.4,0
4,9000001012800200,9000939526300270,2016-10-27 20:27:57.997,Chronic Dx,"Chronic kidney disease, stage 3",N18.3,585.3,0

In [29]:
diag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393427 entries, 0 to 393426
Data columns (total 8 columns):
ClientGUID         393427 non-null int64
ClientVisitGUID    393427 non-null int64
CreatedWhen        393427 non-null object
typecode           393427 non-null object
ShortName          393425 non-null object
ICD10Code          192582 non-null object
ICD9Code           200303 non-null object
userguid           393427 non-null int64
dtypes: int64(3), object(5)
memory usage: 24.0+ MB

In [30]:
diag['ClientGUID'] = diag['ClientGUID'] - 9000000000000000

In [31]:
diag['ClientVisitGUID'] = diag['ClientVisitGUID'] - 9000000000000000

In [32]:
diag['userguid'] = 10000000000000000 - diag['userguid']

In [33]:
diag[diag['ClientGUID']== diag['ClientVisitGUID']]

Empty DataFrame
Columns: [ClientGUID, ClientVisitGUID, CreatedWhen, typecode, ShortName, ICD10Code, ICD9Code, userguid]
Index: []

In [34]:
diag[diag['userguid']== diag['ClientVisitGUID']]

Empty DataFrame
Columns: [ClientGUID, ClientVisitGUID, CreatedWhen, typecode, ShortName, ICD10Code, ICD9Code, userguid]
Index: []

In [35]:
diag[diag['ClientGUID']== diag['userguid']]

Empty DataFrame
Columns: [ClientGUID, ClientVisitGUID, CreatedWhen, typecode, ShortName, ICD10Code, ICD9Code, userguid]
Index: []

In [36]:
diag.to_csv(path + 'diag_2012_2018_pull2_new.csv', index=False)

# EDDC_ordertask_2012_2018_cluster_MED.xlsx

In [8]:
ordertask_med = pd.read_excel(path + 'EDDC_ordertask_2012_2018_cluster_MED.xlsx')
ordertask_med.head()

    clientvisitguid  cluster
0  9000556943700270        1
1  9000561002000270        1
2  9000562000000270        1
3  9000567313100270        2
4  9000579333200270        1

In [9]:
ordertask_med.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516 entries, 0 to 1515
Data columns (total 2 columns):
clientvisitguid    1516 non-null int64
cluster            1516 non-null int64
dtypes: int64(2)
memory usage: 23.8 KB

In [10]:
ordertask_med['clientvisitguid'] = ordertask_med['clientvisitguid'] - 9000000000000000
ordertask_med['clientvisitguid']

0        556943700270
1        561002000270
2        562000000270
3        567313100270
4        579333200270
            ...
1511    1283883400270
1512    1284311200270
1513    1284903800270
1514    1284909400270
1515    1285016600270
Name: clientvisitguid, Length: 1516, dtype: int64

In [16]:
ordertask_med.to_excel(path + 'EDDC_ordertask_2012_2018_cluster_MED_new.xlsx', index=False)

# EDDC_order_2012_2018_cluster_MED.xlsx

In [12]:
order_med = pd.read_excel(path + 'EDDC_order_2012_2018_cluster_MED.xlsx', sheet_name = 'EDDC_order_2012_2018_cluster')
order_med.head()

,clientvisitguid,LOS,30day,60day,90ay,charlson,elixhauser,userQ,dischargedisposition,home,...,marital,language_raw,language,ethnicity_raw,ethnicity,race_raw,race,death,insurance,payor
0,9000556943700270,8,0,0,0,1,1,medium,ROUTINE/HOME,1,...,Married,Spanish,Non-English,H,H,OtherNotDescribed,Other,0,MCRFFS,Medicare
1,9000561002000270,5,0,0,0,0,1,low,PATIENTEXPIRED,0,...,Married,English,English,N,N,OtherNotDescribed,Other,1,MCRFFS,Medicare
2,9000562000000270,9,0,0,0,2,3,medium,ROUTINE/HOME,1,...,NotMarried,English,English,N,N,OtherNotDescribed,Other,0,MCRFFS,Medicare
3,9000567313100270,52,0,0,0,1,5,medium,DISCHARGETOSNF,0,...,Married,German,Non-English,N,N,OtherNotDescribed,Other,0,MCRFFS,Medicare
4,9000579333200270,21,0,0,0,3,4,medium,DISCHARGEHOMEWITHHMHLTHSERV,0,...,NotMarried,English,English,D,unknown,Declined,Unknown,0,MCRFFS,Medicare

In [13]:
order_med.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1473 entries, 0 to 1472
Data columns (total 27 columns):
clientvisitguid         1473 non-null int64
LOS                     1473 non-null int64
30day                   1473 non-null int64
60day                   1473 non-null int64
90ay                    1473 non-null int64
charlson                1473 non-null int64
elixhauser              1473 non-null int64
userQ                   1473 non-null object
dischargedisposition    1468 non-null object
home                    1473 non-null int64
campus                  1473 non-null object
Eddecision              1229 non-null object
Edcampus                1229 non-null object
cluster_by30%           1473 non-null int64
VTE                     1473 non-null int64
CCW                     1473 non-null int64
gender                  1473 non-null object
marital                 1473 non-null object
language_raw            1473 non-null object
language                1473 non-null object
ethnicity_raw           1432 non-null object
ethnicity               1473 non-null object
race_raw                1473 non-null object
race                    1473 non-null object
death                   1473 non-null int64
insurance               1459 non-null object
payor                   1473 non-null object
dtypes: int64(12), object(15)
memory usage: 310.8+ KB

In [14]:
order_med['clientvisitguid'] = order_med['clientvisitguid'] - 9000000000000000
order_med['clientvisitguid']

0        556943700270
1        561002000270
2        562000000270
3        567313100270
4        579333200270
            ...
1468    1283883400270
1469    1284311200270
1470    1284903800270
1471    1284909400270
1472    1285016600270
Name: clientvisitguid, Length: 1473, dtype: int64

In [17]:
order_med.to_excel(path + 'EDDC_order_2012_2018_cluster_MED_new.xlsx', index=False)

# Insurance

In [3]:
insurance = pd.read_csv(path + 'insurance_2012_2018_pull2.csv', header = 0)
insurance.head()

               guid Financial Group
0  9000816106500270          MCRFFS
1  9001152418600270     MCRMGDCONTR
2  9000876894400270      COMMRCONTR
3  9000682894300270     MCDMGDCONTR
4  9000726159600270          MCRFFS

In [4]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15999 entries, 0 to 15998
Data columns (total 2 columns):
guid               15999 non-null int64
Financial Group    15999 non-null object
dtypes: int64(1), object(1)
memory usage: 250.1+ KB

In [6]:
insurance.columns = ['clientvisitguid', 'Financial Group']

In [7]:
insurance['clientvisitguid'] = insurance['clientvisitguid'] - 9000000000000000

In [8]:
insurance.to_csv(path + 'insurance_2012_2018_pull2_new2.csv', index=False)