In [1]:
import pandas as pd

In [2]:
path='/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/OrderAnalysis-master/'

In [3]:
user_role = pd.read_csv(path + "2_2012_2018_user_role_cv3_notcancelled.csv")
user_role = user_role.iloc[:,1:]

In [4]:
user_os = pd.read_csv(path + "2_order_2012_2018_OScount_cv3_notcancelled.csv")
user_os = user_os.iloc[:,1:]

In [5]:
mean_user_orders = pd.read_csv(path+"2_order_2012_2018_ordercount_cv3_notcancelled.csv")
mean_user_orders = mean_user_orders.iloc[:,1:]

In [6]:
user_role.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4514 entries, 0 to 4513
Data columns (total 2 columns):
userguid     4514 non-null int64
enterrole    4514 non-null object
dtypes: int64(1), object(1)
memory usage: 70.7+ KB

In [7]:
user_role.head()

          userguid enterrole
0  999918700498810     Nurse
1  999969353598810     Nurse
2  999997311598810        NP
3  999958233898810  Resident
4  999881516398810  Resident

In [8]:
user_os.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1721 entries, 0 to 1720
Data columns (total 2 columns):
userguid        1721 non-null int64
ordersetname    1721 non-null int64
dtypes: int64(2)
memory usage: 27.0 KB

In [9]:
user_os.head()

          userguid  ordersetname
0  999766187598810             1
1  999766904798810             9
2  999767508198810             2
3  999769097398810            78
4  999769097498810            40

In [10]:
mean_user_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 2 columns):
userguid    4323 non-null int64
name        4323 non-null int64
dtypes: int64(2)
memory usage: 67.7 KB

In [11]:
mean_user_orders.head()

          userguid  name
0  999766187598810     5
1  999766904798810    13
2  999767508198810     2
3  999767858798810     9
4  999769092398810     2

In [12]:
len(user_role['userguid'])

4514

In [13]:
len(mean_user_orders['userguid'])

4323

In [14]:
orderset_order = pd.merge(mean_user_orders, user_os, on=['userguid'], how='left')
orderset_order_p = pd.merge(orderset_order, user_role, on=['userguid'], how='left')
orderset_order_p.columns = ['userguid', '#order', '#orderset', 'role']
orderset_order_p['#orderset/#order'] = orderset_order_p['#orderset'] / orderset_order_p['#order']

In [15]:
orderset_order_p['role'].unique()

array(['NP', 'PA', 'Nurse', 'Resident', 'Physician', 'Fellow',
       'VerifyChemoTherapy', 'Attending Physician', 'Registered Nurse',
       'Medical Resident'], dtype=object)

In [16]:
# remove nurse, NP and Nurse Anesthetist
orderset_order_p = orderset_order_p[(orderset_order_p['role'] != 'Nurse') & (orderset_order_p['role'] != 'NP') & (orderset_order_p['role'] != 'Nurse Anesthetist')] 
# remove #order <5
orderset_order_p = orderset_order_p[orderset_order_p['#order'] >= 5] 
orderset_order_p = orderset_order_p.dropna().sort_values(by=['#orderset/#order'])
orderset_order_p

              userguid  #order  #orderset       role  #orderset/#order
2035   999940120798810     233        4.0   Resident          0.017167
1132   999875371198810      41        1.0  Physician          0.024390
2395   999958162498810      38        1.0   Resident          0.026316
4352  7999998969880999      35        1.0  Physician          0.028571
37     999776145798810      75        3.0         PA          0.040000
...                ...     ...        ...        ...               ...
3876   999997429898810       6        6.0  Physician          1.000000
2350   999957884098810      26       26.0   Resident          1.000000
1223   999880400098810      47       47.0   Resident          1.000000
1943   999937988498810       8        8.0   Resident          1.000000
441    999813380998810       7        7.0   Resident          1.000000

[1377 rows x 5 columns]

In [17]:
std = orderset_order_p['#orderset/#order'].std()
mean = orderset_order_p['#orderset/#order'].mean()

In [18]:
q1 = orderset_order_p['#orderset/#order'].describe()[4]
q2 = orderset_order_p['#orderset/#order'].describe()[5]
q3 = orderset_order_p['#orderset/#order'].describe()[6]
q4 = orderset_order_p['#orderset/#order'].describe()[7]

In [19]:
print(q1, q2, q3, q4)

0.4557291666666667 0.5555555555555556 0.6875 1.0

In [20]:
orderset_order_p['Q1'] = orderset_order_p.apply(lambda x: 1 if x['#orderset/#order'] <= q1 else 0, axis=1)
orderset_order_p['Q4'] = orderset_order_p.apply(lambda x: 1 if x['#orderset/#order'] > q3 else 0, axis=1)

In [21]:
orderset_order_p.to_excel(path + '2_quartile_analysis_0305.xlsx', sheet_name='orderset_order', index=False)

In [22]:
## for EDDC

In [21]:
user_role = pd.read_csv(path + "2_2012_2018_user_role_cv3_notcancelled.csv")
user_role = user_role.iloc[:,1:]

In [22]:
user_order_eddc = pd.read_csv(path+"2_user_order_EDDC_2012_2018_cv3_notcancelled.csv")

In [23]:
user_os_eddc = pd.read_csv(path + "2_user_order_EDDC_OSonly_2012_2018_cv3_notcancelled.csv")

In [24]:
user_order_eddc.head()

          userguid  name
0  999766187598810     5
1  999766904798810    13
2  999767508198810     2
3  999767858798810     9
4  999769092398810     2

In [25]:
user_os_eddc.head()

          userguid  ordersetname
0  999766187598810             1
1  999766904798810             9
2  999767508198810             2
3  999769097398810            78
4  999769097498810            40

In [26]:
len(user_role['userguid'])

4514

In [27]:
len(user_order_eddc['userguid'])

4451

In [28]:
len(user_os_eddc['userguid'])

1721

In [29]:
orderset_order_eddc = pd.merge(user_order_eddc, user_os_eddc, on=['userguid'], how='left')
orderset_order_eddc_p = pd.merge(orderset_order_eddc, user_role, on=['userguid'], how='left')
orderset_order_eddc_p.columns = ['userguid', '#order', '#orderset', 'role']
orderset_order_eddc_p['#orderset/#order'] = orderset_order_eddc_p['#orderset'] / orderset_order_eddc_p['#order']

In [30]:
# remove nurses, NP and Nurse Anesthetist
orderset_order_eddc_p = orderset_order_eddc_p[(orderset_order_eddc_p['role'] != 'Nurse') & (orderset_order_eddc_p['role'] != 'NP') & (orderset_order_eddc_p['role'] != 'Nurse Anesthetist')] 
# remove #order <5
orderset_order_eddc_p = orderset_order_eddc_p[orderset_order_eddc_p['#order'] >= 5]
orderset_order_eddc_p = orderset_order_eddc_p.dropna().sort_values(by=['#orderset/#order'])
orderset_order_eddc_p

,userguid,#order,#orderset,role,#orderset/#order
2117,999940120798810,233,4.0,Resident,0.017167
1155,999875371198810,41,1.0,Physician,0.024390
2485,999958162498810,38,1.0,Resident,0.026316
4487,7999998969880999,35,1.0,Physician,0.028571
37,999776145798810,75,3.0,PA,0.040000
...,...,...,...,...,...
1986,999937978698810,8,8.0,Resident,1.000000
4404,999998917880999,16,16.0,Physician,1.000000
4395,999998276898810,7,7.0,Physician,1.000000
1261,999880405498810,8,8.0,Resident,1.000000
3608,999976982898810,19,19.0,VerifyChemoTherapy,1.000000

In [31]:
std_eddc = orderset_order_eddc_p['#orderset/#order'].std()
mean_eddc = orderset_order_eddc_p['#orderset/#order'].mean()

In [32]:
q1_eddc = orderset_order_eddc_p['#orderset/#order'].describe()[4]
q2_eddc = orderset_order_eddc_p['#orderset/#order'].describe()[5]
q3_eddc = orderset_order_eddc_p['#orderset/#order'].describe()[6]
q4_eddc = orderset_order_eddc_p['#orderset/#order'].describe()[7]

In [33]:
print(q1_eddc, q2_eddc, q3_eddc, q4_eddc)

0.45781271086493497 0.5534521230152314 0.6666666666666666 1.0

In [34]:
orderset_order_eddc_p['Q1'] = orderset_order_eddc_p.apply(lambda x: 1 if x['#orderset/#order'] <= q1 else 0, axis=1)
orderset_order_eddc_p['Q4'] = orderset_order_eddc_p.apply(lambda x: 1 if x['#orderset/#order'] > q3 else 0, axis=1)

In [35]:
orderset_order_eddc_p.to_excel(path + '2_quartile_analysis_eddc_cv3_notcancelled.xlsx', sheet_name='eddc_orderset_order', index=False)

In [ ]:
# check

In [52]:
orderset_order_eddc_p[orderset_order_eddc_p['#orderset']==2]

Empty DataFrame
Columns: [userguid, #order, #orderset, role, #orderset/#order, Q1, Q4]
Index: []

In [53]:
orderset_order_eddc_p.iloc[20,:]

userguid            6999998755880999
#order                            71
#orderset                          2
role                       Physician
#orderset/#order            0.028169
Q1                                 1
Q4                                 0
Name: 3190, dtype: object

In [42]:
orderset_order_eddc_p['userguid'].unique()

array([ 999974338498810,  999976237898810, 7999998969880999, ...,
        999880404898810,  999993239198810, 9999998979880999])