In [1]:
import pandas as pd

In [2]:
path='/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/OrderAnalysis-master/'

In [3]:
## using the seq.xlsx which got the printout from getV_fromCSV.py (line 332)

In [3]:
seq = pd.read_excel(path + 'seq.xlsx', sep = ' ', header=None)

In [4]:
seq.head()
seq.columns= ['ID']
seq.head()

                                                  ID
0             1000120800270 ['V1', 'V2', 'V3', 'V4']
1  1000124200270 ['V1', 'V5', 'V1', 'V4', 'V6', '...
2  1000155300270 ['V9', 'V4', 'V10', 'V11', 'V4',...
3  1000634700270 ['V1', 'V1', 'V12', 'V1', 'V4', ...
4  1001023900270 ['V14', 'V1', 'V15', 'V4', 'V4',...

In [5]:
seq = seq.ID.str.split(expand = True)

In [6]:
seq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1696 entries, 0 to 1695
Columns: 378 entries, 0 to 377
dtypes: object(378)
memory usage: 4.9+ MB

In [7]:
len(seq.columns)

378

In [8]:
for i in range(len(seq.columns)):
    seq.iloc[:,i] = seq.iloc[:,i].str.strip('[')
    seq.iloc[:,i] = seq.iloc[:,i].str.strip(']')
    seq.iloc[:,i] = seq.iloc[:,i].str.strip(',')
    seq.iloc[:,i] = seq.iloc[:,i].str.strip("''")

In [9]:
len(seq.index)

1696

In [10]:
seq.head()

,0,1,2,3,4,5,6,7,8,9,...,368,369,370,371,372,373,374,375,376,377
0,1000120800270,V1,V2,V3,V4,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1000124200270,V1,V5,V1,V4,V6,V1,V1,V7,V6,...,None,None,None,None,None,None,None,None,None,None
2,1000155300270,V9,V4,V10,V11,V4,V1,V4,V4,V4,...,None,None,None,None,None,None,None,None,None,None
3,1000634700270,V1,V1,V12,V1,V4,V1,V4,V13,V1,...,None,None,None,None,None,None,None,None,None,None
4,1001023900270,V14,V1,V15,V4,V4,V16,V4,V4,V4,...,None,None,None,None,None,None,None,None,None,None

In [11]:
seq.to_csv(path + "seq_clustering.csv", index=None)