In [19]:
import json
import csv
import pandas as pd
import os

In [20]:
## extract diagnosis from appt

In [38]:
path =os.path.expanduser('~/Documents/Data/NYPData/HF/')

In [39]:
fh = open(path+'EDDC_HF_2012_2018_ouput.json','r')

In [40]:
data = json.load(fh)

In [80]:
with open(path+'diag.csv', 'w+') as f:
    for pid in data:
        for date in data[pid]['appt']: 
            if len(data[pid]['appt'][date]['diag'])>0:
                for i in data[pid]['appt'][date]['diag']:
                    print(pid, i, file = f,sep=',')

In [81]:
diag = pd.read_csv(path+'diag.csv', sep = ',', names = ['ID', 'Diagnosis'])

In [82]:
diag.head()

                 ID Diagnosis
0  9000556943700270       NaN
1  9000556943700270       NaN
2  9000556943700270   M25.519
3  9000556943700270       NaN
4  9000556943700270       NaN

In [83]:
diag[diag['ID']==9000556943700270]

                 ID Diagnosis
0  9000556943700270       NaN
1  9000556943700270       NaN
2  9000556943700270   M25.519
3  9000556943700270       NaN
4  9000556943700270       NaN
5  9000556943700270       NaN
6  9000556943700270     I50.9
7  9000556943700270     I50.9
8  9000556943700270     N17.9
9  9000556943700270       NaN

In [84]:
diag['ID'] = diag['ID'].astype(int)
diag['Diagnosis'] = diag['Diagnosis'].astype(str)

In [85]:
diag['Diagnosis']

0            nan
1            nan
2        M25.519
3            nan
4            nan
5            nan
6          I50.9
7          I50.9
8          N17.9
9            nan
10           nan
11         R07.9
12           nan
13           nan
14           nan
15         R18.8
16         E87.2
17           nan
18         R57.9
19         R57.0
20        R06.00
21         R57.0
22           nan
23           nan
24           nan
25           nan
26           Z21
27           C61
28         I50.9
29         I47.2
          ...
45381      I50.9
45382     I50.33
45383      E87.1
45384    I50.810
45385     I48.91
45386        nan
45387        R55
45388        nan
45389        nan
45390        R55
45391     I25.10
45392     I48.91
45393      I50.9
45394      N17.9
45395        R55
45396      Z95.0
45397     R06.02
45398        nan
45399        nan
45400      J81.0
45401      I16.1
45402      I50.1
45403      I50.1
45404     R06.02
45405        C61
45406     B19.20
45407     C74.90
45408      C22.0
45409     K74.60
45410     I25.10
Name: Diagnosis, Length: 45411, dtype: object

In [86]:
diag['Diagnosis'] = diag['Diagnosis'].str.strip('['']')

In [87]:
nan_value = float("NaN")
diag.replace("nan", nan_value, inplace = True)
diag.replace("", nan_value, inplace = True)
diag.dropna(subset = ["Diagnosis"], inplace = True)

In [88]:
diag.replace("nan,", nan_value, inplace = True)
diag.dropna(subset = ["Diagnosis"], inplace = True)

In [89]:
diag[['Diagnosis']]

      Diagnosis
2       M25.519
6         I50.9
7         I50.9
8         N17.9
11        R07.9
15        R18.8
16        E87.2
18        R57.9
19        R57.0
20       R06.00
21        R57.0
26          Z21
27          C61
28        I50.9
29        I47.2
31        I50.9
38       E87.70
39        I50.9
40      D72.829
41       R06.00
42       R09.02
43       R06.00
44       I50.31
45        R14.0
46        E87.5
47        N17.9
49        I50.9
50        R04.0
52        R60.0
57        I50.9
...         ...
45374     I50.9
45375    I48.91
45377     R11.2
45378    R06.02
45380    I50.33
45381     I50.9
45382    I50.33
45383     E87.1
45384   I50.810
45385    I48.91
45387       R55
45390       R55
45391    I25.10
45392    I48.91
45393     I50.9
45394     N17.9
45395       R55
45396     Z95.0
45397    R06.02
45400     J81.0
45401     I16.1
45402     I50.1
45403     I50.1
45404    R06.02
45405       C61
45406    B19.20
45407    C74.90
45408     C22.0
45409    K74.60
45410    I25.10

[36493 rows x 1 columns]

In [90]:
diag['Diagnosis'].nunique()  ## 1986 out of 112929

1874

In [91]:
diag.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36493 entries, 2 to 45410
Data columns (total 2 columns):
ID           36493 non-null int64
Diagnosis    36493 non-null object
dtypes: int64(1), object(1)
memory usage: 855.3+ KB

In [92]:
diag.to_csv(path+'diag.csv', index=None)