In [2]:
import json
import csv
import pandas as pd
#import numpy as np

In [3]:
## extract diagnosis from appt

In [9]:
fh = open('/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/Data/EDDC_HF_2012_2018_ouput.json','r')

In [10]:
data = json.load(fh)

In [11]:
with open('/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/Data/diag.csv', 'w+') as f:
    for pid in data:
        for date in data[pid]['appt']: 
            print(pid, data[pid]['appt'][date]['diag'], file = f, sep = ' ')

In [12]:
diag = pd.read_csv('/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/Data/diag.csv', header=None)
diag.columns = ['oldname']
diag

                             oldname
0                9000556943700270 []
1                9000556943700270 []
2                9000556943700270 []
3             9000556943700270 [nan]
4       9000556943700270 ['M25.519']
...                              ...
122063    9001285016600270 ['I50.1']
122064   9001285016600270 ['C74.90']
122065    9001285016600270 ['C22.0']
122066           9001285016600270 []
122067           9001285016600270 []

[122068 rows x 1 columns]

In [13]:
diagnosis = diag['oldname'].str.split(" ", n = 1, expand = True)
diagnosis.columns = ['ID', 'Diagnosis']
diagnosis

                      ID    Diagnosis
0       9000556943700270           []
1       9000556943700270           []
2       9000556943700270           []
3       9000556943700270        [nan]
4       9000556943700270  ['M25.519']
...                  ...          ...
122063  9001285016600270    ['I50.1']
122064  9001285016600270   ['C74.90']
122065  9001285016600270    ['C22.0']
122066  9001285016600270           []
122067  9001285016600270           []

[122068 rows x 2 columns]

In [14]:
diagnosis['ID'] = diagnosis['ID'].astype(int)
diagnosis['Diagnosis'] = diagnosis['Diagnosis'].astype(str)

In [15]:
diagnosis['Diagnosis'] = diagnosis['Diagnosis'].str.strip('['']')

In [16]:
nan_value = float("NaN")
diagnosis.replace("nan", nan_value, inplace = True)
diagnosis.replace("", nan_value, inplace = True)
diagnosis.dropna(subset = ["Diagnosis"], inplace = True)

In [17]:
diagnosis.to_csv('/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/Data/diagnosis.csv')