In [1]:
import json
import csv
import pandas as pd

In [2]:
## extract diagnosis from appt

In [3]:
fh = open('/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/Data/EDDC_HF_2012_2018_ouput.json','r')

In [4]:
data = json.load(fh)

In [5]:
with open('/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/Data/diag.csv', 'w+') as f:
    for pid in data:
        for date in data[pid]['appt']: 
            print(pid, data[pid]['appt'][date]['diag'], file = f, sep = ' ')

In [6]:
diag = pd.read_csv('/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/Data/diag.csv', sep = '\s+', names = ['ID', 'Diagnosis'])

In [7]:
#diag.columns = ['oldname']
diag

                   ID  Diagnosis
0        556943700270      [nan]
1        556943700270         []
2        556943700270         []
3        556943700270         []
4        556943700270      [nan,
...               ...        ...
136446  1285016600270         []
136447  1285016600270         []
136448  1285016600270  ['I50.1',
136449  1285016600270         []
136450  1285016600270         []

[136451 rows x 2 columns]

In [8]:
diag['ID'] = diag['ID'].astype(int)
diag['Diagnosis'] = diag['Diagnosis'].astype(str)

In [9]:
diag['Diagnosis']

0             [nan]
1                []
2                []
3                []
4             [nan,
            ...
136446           []
136447           []
136448    ['I50.1',
136449           []
136450           []
Name: Diagnosis, Length: 136451, dtype: object

In [10]:
diag['Diagnosis'] = diag['Diagnosis'].str.strip('['']')

In [11]:
nan_value = float("NaN")
diag.replace("nan", nan_value, inplace = True)
diag.replace("", nan_value, inplace = True)
diag.dropna(subset = ["Diagnosis"], inplace = True)

In [12]:
diag.replace("nan,", nan_value, inplace = True)
diag.dropna(subset = ["Diagnosis"], inplace = True)

In [13]:
diag[['Diagnosis']]

        Diagnosis
24        'I50.9'
26        'I50.9'
28        'N17.9'
46       'R07.9',
65        'R57.9'
...           ...
136435    'Z95.0'
136440  'R06.02',
136444    'I16.1'
136445    'I50.1'
136448   'I50.1',

[16935 rows x 1 columns]

In [14]:
diag['Diagnosis'].nunique()  ## 1986 out of 112929

1986

In [15]:
diag.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16935 entries, 24 to 136448
Data columns (total 2 columns):
ID           16935 non-null int64
Diagnosis    16935 non-null object
dtypes: int64(1), object(1)
memory usage: 396.9+ KB

In [16]:
diag.to_csv('/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/Data/diag.csv', index=None)